<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vu_logo"
        android:label="Parent Portal Mobile App"
        android:roundIcon="@drawable/vu_logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ParentPortalApp"
        tools:targetApi="31">
        <activity
            android:name=".AdminFeedBack"
            android:exported="false" />
        <activity
            android:name=".AddReportCard"
            android:exported="false" />
        <activity
            android:name=".MarkAttendanceItem"
            android:exported="false"
            android:label="@string/title_activity_mark_attendance_item" />
        <activity
            android:name=".MarkAttendance"
            android:exported="false" />
        <activity
            android:name=".LeaveStatus"
            android:exported="false" />
        <activity
            android:name=".AddTransport"
            android:exported="false" />
        <activity
            android:name=".AddTimetable"
            android:exported="false" />
        <activity
            android:name=".AddSyllabus"
            android:exported="false" />
        <activity
            android:name=".SendDailyDiary"
            android:exported="false" />
        <activity
            android:name=".SendNotification"
            android:exported="false" />
        <activity
            android:name=".UpdateFeeDetail"
            android:exported="false" />
        <activity
            android:name=".RegisterStudent"
            android:exported="false" />
        <activity
            android:name=".adminhome"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".syllabus_main"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".TransportFacility"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".FeeDetail"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".AttendanceRecord"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".DailyDiary"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".ReportCard"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".Announcement"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".LeaveApplication"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".TimeTable"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".Studentprofile"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>